<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="UTF-8">
    <title>Login page</title><br><br>
  </head>
  <body>
    <form id="login-form" method="post" action="/login">
      <input type="text" name="username" id="username-field" placeholder="Username" required><br><br>
      <!-- TODO: Change type to "password" -->
      <input type="password" name="password" id="password-field" placeholder="Password" required><br><br>
      <input type="submit" value="Login" id="login-form-submit">
    </form>

    
    <script type="text/javascript" >
        async function login(){
          // Get values from FORM
          let username = document.getElementById("username-field")
          let password = document.getElementById("password-field")
        
          // Body payload
          let body = { username, password }
        
          // Fetch options
          let option = {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/json'
            }
          }
        
          // Call /login as POST and wait for reply
          const response = await fetch(`/login`, options)
          const json = await response.json()
        
          // Use json response
          alert(json)
        }
        
        document.getElementById("login-form-submit").addEventListener("click", login);
        </script>
        
  </body>
</html>